.status-container {
    background-color: #F5F5FA;
    z-index: -1;
}

.status-subcontainer {
    margin: 7vh 8vw 2vh 8vw;
    display: inline-flex;
    flex-direction: column;
    width: 84%;
    gap: 2vh;
}

.status-title {
    font-size: 1.5rem;
    color: #003C9C;
    font-weight: bold;
}
