.card-status-container {
    background-color: #E0E0E566;
    border-radius: 10px;
    color: #003C9C;
    padding: 5px 0;
}

.card-status-subcontainer {
    display: flex;
    margin: 2vw 2vh;
    flex-direction: column;
    gap: 3px;
}

.status-card-title {
    font-size: 1.2rem;
    color: #003C9C;
    font-weight: bold;
    margin-bottom: 0.5vh;
}
